{% extends 'base.html' %}

{% load static %}
{% block content %}
	<h1>My Resume</h1>
	<p>Name: {{my_name}}</p>
	<p>Address: {{my_addr}}</p>
	<p>Email: {{my_email}}</p>
	<h2>Education</h2>
	{% for education in my_education %}
		<table>
		<th>Institution</th>
		<th>|</th>
		<th>Location</th>
		<th>|</th>
		<th>Degree</th>
		<th>|</th>
		<th>Major</th>
		<th>|</th>
		<th>GPA</th>
		<tr>
			<td>{{education.institution_name}}</td>
			<td>|</td>
			<td>{{education.location}}</td>
			<td>|</td>
			<td>{{education.degree}}</td>
			<td>|</td>
			<td>{{education.major}}</td>
			<td>|</td>
			<td>{{education.gpa}}</td>
		</tr>
	</table>
	{% endfor %}
	<h2>Experience</h2>
	{% for experience in my_experiences %}
		<table>
		<th>Title</th>
		<th>|</th>
		<th>Job Title</th>
		<th>|</th>
		<th>Job Functions</th>
		<th>|</th>
		<th>From - End</th>
		<tr>
		<tr>
			<td>{{experience.title}}</td>
			<td>|</td>
			<td>{{experience.location}}</td>
			<td>|</td>
			<td>{{experience.start_date}}</td>
			<td>|</td>
			<td>{{experience.end_date}}</td>
			<td>|</td>
			<td>{{experience.description}}</td>
		</tr>
	</table>
	{% endfor %}
	<h2>Skills</h2>
	{% for skills in my_skills %}
		<ul>
			<li>{{skills}}</li>
		</ul>

	{% endfor %}
{% endblock %}
